*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.encabezado__anime{
    width: 900px;
    height: 160px;
    position: relative;
    left: 17%;
}

main {
    width: 900px;
    text-align: center;
    margin-left: 230px;
}
p{
    background-color: wheat;
    padding-bottom: 30px;
}

